#include <windows.h>
#include "../include/resource.h"

IDI_APP_ICON ICON "..\\images\\appicon.ico"
#include "generated/icons.rc"

IDD_SETTINGS DIALOGEX 0, 0, 300, 350

STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ecode Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_TAB_SETTINGS,"SysTabControl32",WS_TABSTOP,5,5,290,300
    DEFPUSHBUTTON   "OK",IDOK,180,320,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,235,320,50,14
END

IDD_SETTINGS_GENERAL DIALOGEX 0, 0, 290, 290
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Font Family:",IDC_STATIC,10,10,60,12
    EDITTEXT        IDC_FONT_FAMILY,72,8,120,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Font...",IDC_FONT_BROWSE,196,8,40,14
    
    LTEXT           "Font Size:",IDC_STATIC,10,30,55,12
    EDITTEXT        IDC_FONT_SIZE,65,28,50,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Font Weight:",IDC_STATIC,120,30,60,12
    EDITTEXT        IDC_FONT_WEIGHT,180,28,50,14,ES_AUTOHSCROLL | ES_NUMBER
    
    CHECKBOX        "Show Line Numbers",IDC_SHOW_LINE_NUMBERS,10,50,140,12
    CHECKBOX        "Enable Ligatures",IDC_ENABLE_LIGATURES,160,50,120,12
    CHECKBOX        "Enable Word Wrap",IDC_WORD_WRAP,10,68,140,12
    
    LTEXT           "Wrap Width (0 for auto):",IDC_STATIC,10,88,110,12
    EDITTEXT        IDC_WRAP_WIDTH,120,86,40,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Language:",IDC_STATIC,10,108,60,12
    COMBOBOX        IDC_LANGUAGE,70,105,120,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Caret Style:",IDC_STATIC,10,128,60,12
    COMBOBOX        IDC_CARET_STYLE,70,125,80,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CHECKBOX        "Caret Blinking",IDC_CARET_BLINKING,160,128,90,12
    
    LTEXT           "Log Level:",IDC_STATIC,10,148,60,12
    COMBOBOX        IDC_LOG_LEVEL,70,145,80,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    AUTOCHECKBOX    "VT Debug",IDC_VT_DEBUG,70,167,80,12

    LTEXT           "Bash Path:",IDC_STATIC,10,185,60,12
    EDITTEXT        IDC_BASH_PATH,70,183,130,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BASH_BROWSE,205,183,20,14

    LTEXT           "Text Editor Default Extension:",IDC_STATIC,10,205,130,12
    EDITTEXT        IDC_DEFAULT_EXT,130,203,90,14,ES_AUTOHSCROLL

    AUTOCHECKBOX    "Hide Title Bar (requires restart)",IDC_NO_TITLE_BAR,10,222,190,12
    AUTOCHECKBOX    "Reverse Scroll Direction",IDC_REVERSE_SCROLL_DIRECTION,10,238,150,12
    AUTOCHECKBOX    "Hide *Messages* Buffer",IDC_HIDE_MESSAGES_BUFFER,10,252,150,12
    
    LTEXT           "Plugins Directory:",IDC_STATIC,10,270,90,12
    EDITTEXT        IDC_PLUGINS_DIR,100,254,120,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_PLUGINS_BROWSE,225,254,20,14
END

IDD_SETTINGS_AI DIALOGEX 0, 0, 250, 200
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Active Server:",IDC_STATIC,10,10,60,12
    COMBOBOX        IDC_AI_SERVER,70,8,100,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    GROUPBOX        "Server Configuration",IDC_STATIC,5,30,240,140
    
    LTEXT           "Model Name:",IDC_STATIC,15,45,55,12
    EDITTEXT        IDC_AI_MODEL,75,43,120,14,ES_AUTOHSCROLL
    
    LTEXT           "API Base URL:",IDC_STATIC,15,65,55,12
    EDITTEXT        IDC_AI_BASE_URL,75,63,155,14,ES_AUTOHSCROLL
    
    LTEXT           "API Key:",IDC_STATIC,15,85,55,12
    EDITTEXT        IDC_AI_KEY,75,83,155,14,ES_PASSWORD | ES_AUTOHSCROLL
    
    LTEXT           "Allowed Project Directory:",IDC_STATIC,15,105,110,12
    EDITTEXT        IDC_AI_PROJECT_DIR,125,103,100,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_AI_PROJECT_DIR_BROWSE,230,103,20,14
    
    LTEXT           "(Note: AI can only edit files within this folder if specified)",IDC_STATIC,15,128,210,16
END

IDD_JUMP_TO_LINE DIALOGEX 0, 0, 150, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Jump to Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Line Number:",IDC_STATIC,10,15,50,8
    EDITTEXT        IDC_LINE_NUMBER,65,12,50,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Go",IDOK,40,40,30,14
    PUSHBUTTON      "Cancel",IDCANCEL,80,40,30,14
END

IDD_MACRO_GALLERY DIALOGEX 0, 0, 200, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Macro Gallery"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_MACRO_LIST,10,10,180,110,LBS_STANDARD | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Run",IDC_RUN_MACRO,10,130,50,14
    PUSHBUTTON      "Close",IDCANCEL,140,130,50,14
END

IDD_PROGRESS DIALOGEX 0, 0, 180, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Processing..."
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Please wait...",IDC_PROGRESS_TEXT,10,10,160,8
    CONTROL         "",IDC_PROGRESS_BAR,"msctls_progress32",WS_CHILD | WS_VISIBLE | 0x01,10,25,160,14
END

IDD_DIRED_PAIRS DIALOGEX 0, 0, 350, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dired Directory Pairs"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Directory Pairs:",IDC_STATIC,5,5,340,12
    LISTBOX         IDC_DP_LIST,5,18,340,80,LBS_STANDARD | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Label:",IDC_STATIC,5,108,30,12
    EDITTEXT        IDC_DP_LABEL,40,106,130,14,ES_AUTOHSCROLL

    LTEXT           "Left:",IDC_STATIC,5,128,30,12
    EDITTEXT        IDC_DP_LEFT,40,126,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_DP_LEFT_BROWSE,265,126,20,14

    LTEXT           "Right:",IDC_STATIC,5,148,30,12
    EDITTEXT        IDC_DP_RIGHT,40,146,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_DP_RIGHT_BROWSE,265,146,20,14

    PUSHBUTTON      "Add",IDC_DP_ADD,10,178,40,14
    PUSHBUTTON      "Duplicate",IDC_DP_DUPLICATE,55,178,50,14
    PUSHBUTTON      "Remove",IDC_DP_REMOVE,110,178,50,14
    PUSHBUTTON      "Open in Dired",IDC_DP_OPEN,165,178,65,14
    PUSHBUTTON      "Close",IDCANCEL,250,178,50,14
END

IDD_CLI_SETTINGS DIALOGEX 0, 0, 330, 415
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLI Command Entries"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Entries:",IDC_STATIC,5,5,320,12
    LISTBOX         IDC_CLI_LIST,5,18,320,200,LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Command:",IDC_STATIC,5,228,45,12
    EDITTEXT        IDC_CLI_CMD,55,226,270,14,ES_AUTOHSCROLL

    LTEXT           "Folder:",IDC_STATIC,5,248,45,12
    EDITTEXT        IDC_CLI_FOLDER,55,246,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_CLI_BROWSE,280,246,20,14

    LTEXT           "Encoding:",IDC_STATIC,5,268,45,12
    COMBOBOX        IDC_CLI_ENCODING,55,266,120,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Shell:",IDC_STATIC,5,288,45,12
    COMBOBOX        IDC_CLI_SHELL,55,286,120,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Icon:",IDC_STATIC,5,306,30,12
    COMBOBOX        IDC_CLI_ICON,55,304,120,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Label:",IDC_STATIC,5,326,30,12
    EDITTEXT        IDC_CLI_LABEL,55,324,270,14,ES_AUTOHSCROLL

    PUSHBUTTON      "Add",IDC_CLI_ADD,5,350,42,14
    PUSHBUTTON      "Duplicate",IDC_CLI_DUPLICATE,52,350,48,14
    PUSHBUTTON      "Remove",IDC_CLI_REMOVE,105,350,42,14
    PUSHBUTTON      "Update",IDC_CLI_UPDATE,152,350,48,14
    PUSHBUTTON      "Run",IDC_CLI_RUN,205,350,38,14
    PUSHBUTTON      "Close",IDCANCEL,248,350,50,14
END

IDD_APP_ENTRIES DIALOGEX 0, 0, 350, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "App Entries"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Entries:",IDC_STATIC,5,5,340,12
    LISTBOX         IDC_AE_LIST,5,18,340,120,LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Path:",IDC_STATIC,5,148,25,12
    EDITTEXT        IDC_AE_PATH,30,146,270,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_AE_BROWSE,305,146,20,14

    LTEXT           "Label:",IDC_STATIC,5,168,25,12
    EDITTEXT        IDC_AE_LABEL,30,166,270,14,ES_AUTOHSCROLL

    PUSHBUTTON      "Add",IDC_AE_ADD,5,198,40,14
    PUSHBUTTON      "Remove",IDC_AE_REMOVE,50,198,42,14
    PUSHBUTTON      "Close",IDCANCEL,250,198,50,14
END

IDD_PLUGIN_CONFIG DIALOGEX 0, 0, 260, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Plugin Visibility"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Select plugins to hide from menu:",IDC_STATIC,10,10,240,8
    LISTBOX         IDC_PLUGIN_LIST,10,25,240,160,LBS_MULTIPLESEL | LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,100,195,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,160,195,50,14
END

IDD_FIND_FILE DIALOGEX 0, 0, 250, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Pattern:",IDC_STATIC,10,10,50,8
    EDITTEXT        IDC_FIND_PATTERN,60,7,130,14,ES_AUTOHSCROLL
    LTEXT           "Directory:",IDC_STATIC,10,30,50,8
    EDITTEXT        IDC_FILE_SEARCH_DIR,60,27,130,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_FILE_SEARCH_BROWSE,195,27,20,14
    DEFPUSHBUTTON   "Search",IDOK,90,60,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,150,60,50,14
END

IDD_THEME_MANAGER DIALOGEX 0, 0, 430, 310
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Theme Manager"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_TH_LIST,5,5,130,210,LBS_STANDARD | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Name:",IDC_STATIC,145,8,30,8
    EDITTEXT        IDC_TH_NAME,180,5,200,14,ES_AUTOHSCROLL

    LTEXT           "Background:",IDC_STATIC,145,28,50,8
    EDITTEXT        IDC_TH_BG,200,25,70,14,ES_AUTOHSCROLL

    LTEXT           "Foreground:",IDC_STATIC,145,48,50,8
    EDITTEXT        IDC_TH_FG,200,45,70,14,ES_AUTOHSCROLL

    LTEXT           "Caret:",IDC_STATIC,145,68,50,8
    EDITTEXT        IDC_TH_CARET,200,65,70,14,ES_AUTOHSCROLL

    LTEXT           "Selection:",IDC_STATIC,145,88,50,8
    EDITTEXT        IDC_TH_SEL,200,85,70,14,ES_AUTOHSCROLL

    LTEXT           "Line Nums:",IDC_STATIC,145,108,50,8
    EDITTEXT        IDC_TH_LN,200,105,70,14,ES_AUTOHSCROLL

    LTEXT           "Keyword:",IDC_STATIC,290,28,50,8
    EDITTEXT        IDC_TH_KW,345,25,70,14,ES_AUTOHSCROLL

    LTEXT           "String:",IDC_STATIC,290,48,50,8
    EDITTEXT        IDC_TH_STR,345,45,70,14,ES_AUTOHSCROLL

    LTEXT           "Number:",IDC_STATIC,290,68,50,8
    EDITTEXT        IDC_TH_NUM,345,65,70,14,ES_AUTOHSCROLL

    LTEXT           "Comment:",IDC_STATIC,290,88,50,8
    EDITTEXT        IDC_TH_CMT,345,85,70,14,ES_AUTOHSCROLL

    LTEXT           "Function:",IDC_STATIC,290,108,50,8
    EDITTEXT        IDC_TH_FUNC,345,105,70,14,ES_AUTOHSCROLL

    PUSHBUTTON      "Add",IDC_TH_ADD,5,225,40,14
    PUSHBUTTON      "Duplicate",IDC_TH_DUPLICATE,50,225,50,14
    PUSHBUTTON      "Remove",IDC_TH_REMOVE,105,225,40,14

    PUSHBUTTON      "Apply",IDC_TH_APPLY,240,225,50,14
    PUSHBUTTON      "Close",IDCANCEL,310,225,50,14
END

IDD_FIND_IN_FILES DIALOGEX 0, 0, 250, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find in Files"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Pattern:",IDC_STATIC,10,10,50,8
    EDITTEXT        IDC_FIND_PATTERN,60,7,130,14,ES_AUTOHSCROLL
    LTEXT           "Directory:",IDC_STATIC,10,30,50,8
    EDITTEXT        IDC_FIND_DIR,60,27,130,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_FIND_BROWSE,195,27,20,14
    LTEXT           "Ext(filter):",IDC_STATIC,10,50,50,8
    EDITTEXT        IDC_FIND_EXT,60,47,130,14,ES_AUTOHSCROLL
    CHECKBOX        "Regex",IDC_FIND_REGEX,10,67,50,10
    CHECKBOX        "Match Case",IDC_FIND_MATCH_CASE,70,67,60,10
    DEFPUSHBUTTON   "Find",IDOK,90,90,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,150,90,50,14
END

IDD_FOLDER_ENTRIES DIALOGEX 0, 0, 350, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Folder Entries"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Entries:",IDC_STATIC,5,5,340,12
    LISTBOX         IDC_FE_LIST,5,18,340,120,LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Path:",IDC_STATIC,5,148,25,12
    EDITTEXT        IDC_FE_PATH,30,146,270,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_FE_BROWSE,305,146,20,14

    LTEXT           "Label:",IDC_STATIC,5,168,25,12
    EDITTEXT        IDC_FE_LABEL,30,166,270,14,ES_AUTOHSCROLL

    PUSHBUTTON      "Add",IDC_FE_ADD,5,198,40,14
    PUSHBUTTON      "Update",IDC_FE_UPDATE,50,198,50,14
    PUSHBUTTON      "Remove",IDC_FE_REMOVE,105,198,42,14
    PUSHBUTTON      "Close",IDCANCEL,250,198,50,14
END

IDD_COPYRIGHT DIALOGEX 0, 0, 460, 350
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Copyright"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_COPYRIGHT_TEXT,8,8,444,300,ES_MULTILINE | ES_READONLY | WS_VSCROLL | ES_AUTOVSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Close",IDOK,205,318,50,14
END
