#include <windows.h>
#include "../include/resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 250, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ecode Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Font Family:",IDC_STATIC,10,10,50,8
    EDITTEXT        IDC_FONT_FAMILY,70,7,120,14,ES_AUTOHSCROLL
    LTEXT           "Font Size:",IDC_STATIC,10,30,50,8
    EDITTEXT        IDC_FONT_SIZE,70,27,40,14,ES_AUTOHSCROLL | ES_NUMBER
    
    CHECKBOX        "Show Line Numbers",IDC_SHOW_LINE_NUMBERS,10,50,100,10
    // CHECKBOX        "Show Physical Line Numbers",IDC_SHOW_PHYSICAL_LINE_NUMS,10,65,120,10
    CHECKBOX        "Enable Word Wrap",IDC_WORD_WRAP,10,80,100,10
    
    LTEXT           "Wrap Width (0 for auto):",IDC_STATIC,10,100,80,8
    EDITTEXT        IDC_WRAP_WIDTH,100,97,40,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Language:",IDC_STATIC,10,120,50,8
    COMBOBOX        IDC_LANGUAGE,70,117,100,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Caret Style:",IDC_STATIC,10,140,50,8
    COMBOBOX        IDC_CARET_STYLE,70,137,70,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CHECKBOX        "Caret Blinking",IDC_CARET_BLINKING,150,137,60,10
    
    LTEXT           "Log Level:",IDC_STATIC,10,160,50,8
    COMBOBOX        IDC_LOG_LEVEL,70,157,70,50,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

DEFPUSHBUTTON   "OK",IDOK,130,180,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,190,180,50,14
END

IDD_JUMP_TO_LINE DIALOGEX 0, 0, 150, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Jump to Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Line Number:",IDC_STATIC,10,15,50,8
    EDITTEXT        IDC_LINE_NUMBER,65,12,50,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Go",IDOK,40,40,30,14
    PUSHBUTTON      "Cancel",IDCANCEL,80,40,30,14
END

IDD_MACRO_GALLERY DIALOGEX 0, 0, 200, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Macro Gallery"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_MACRO_LIST,10,10,180,110,LBS_STANDARD | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Run",IDC_RUN_MACRO,10,130,50,14
    PUSHBUTTON      "Close",IDCANCEL,140,130,50,14
END

IDD_PROGRESS DIALOGEX 0, 0, 180, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Processing..."
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Please wait...",IDC_PROGRESS_TEXT,10,10,160,8
    CONTROL         "",IDC_PROGRESS_BAR,"msctls_progress32",WS_CHILD | WS_VISIBLE | 0x01,10,25,160,14
END

IDD_FIND_IN_FILES DIALOGEX 0, 0, 200, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find in Files"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Pattern:",IDC_STATIC,10,10,50,8
    EDITTEXT        IDC_FIND_PATTERN,60,7,130,14,ES_AUTOHSCROLL
    LTEXT           "Directory:",IDC_STATIC,10,30,50,8
    EDITTEXT        IDC_FIND_DIR,60,27,110,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_FIND_BROWSE,175,27,20,14
    DEFPUSHBUTTON   "Find",IDOK,90,60,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,145,60,50,14
END
